main
{
  margin: auto;
  max-width: 800px;
  background-color: aliceblue;
  padding: 10px;
  min-height: 100vh;
}
body
{
  background-color: purple;
}
#response
{
  margin: 20px 0px;
  background-color: hsl(180, 0%, 95%);
  width:600px;
  height:100px;
  padding: 5px;
  border: black solid 2px;
}
#form_container
{
  max-width: 500px;
  margin-left: 0;
  margin-bottom: 10px;
  background-color: rgb(255, 247, 240) !important;
}